In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\hp\Downloads\pandas_practice1_dataset.csv")

In [5]:
df.head()

,Product_ID,Product_Name,Brand,Category,Price,Stock_Units,Country_Of_Origin,Launch_Date
0,1001,Router,Logitech,Accessories,574.15,188.0,Germany,2020-06-22
1,1002,Laptop,HP,Accessories,1644.89,203.0,UK,2023-10-15
2,1003,Mouse,Logitech,Peripherals,642.71,325.0,India,2019-02-22
3,1004,Keyboard,Samsung,Peripherals,888.96,439.0,USA,2020-12-22
4,1005,Keyboard,Canon,Electronics,1500.41,51.0,Japan,2019-11-27

In [7]:
df.tail()

,Product_ID,Product_Name,Brand,Category,Price,Stock_Units,Country_Of_Origin,Launch_Date
510,1433,Monitor,HP,Peripherals,318.13,48.0,India,2018-12-19
511,1069,Printer,Lenovo,Peripherals,823.61,234.0,China,2023-04-10
512,1072,Smartphone,Asus,Electronics,1854.61,363.0,India,2023-05-06
513,1351,Keyboard,Apple,Accessories,801.33,340.0,India,2021-09-28
514,1123,Headphones,Lenovo,Accessories,1162.56,283.0,Japan,2023-06-26

In [9]:
df.shape

(515, 8)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_ID         515 non-null    int64
 1   Product_Name       515 non-null    object
 2   Brand              495 non-null    object
 3   Category           515 non-null    object
 4   Price              495 non-null    float64
 5   Stock_Units        494 non-null    float64
 6   Country_Of_Origin  515 non-null    object
 7   Launch_Date        515 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.3+ KB

In [13]:
df.describe()

        Product_ID        Price  Stock_Units
count   515.000000   495.000000   494.000000
mean   1249.976699  1027.038485   256.018219
std     144.491687   574.943081   144.328485
min    1001.000000    52.680000     0.000000
25%    1123.500000   526.785000   128.750000
50%    1251.000000  1026.990000   258.000000
75%    1375.500000  1563.940000   379.750000
max    1500.000000  1994.630000   497.000000

In [15]:
df.describe(include='all')

,Product_ID,Product_Name,Brand,Category,Price,Stock_Units,Country_Of_Origin,Launch_Date
count,515.000000,515,495,515,495.000000,494.000000,515,515
unique,NaN,10,8,3,NaN,NaN,6,440
top,NaN,Laptop,Apple,Peripherals,NaN,NaN,India,2023-05-06
freq,NaN,63,67,182,NaN,NaN,94,4
mean,1249.976699,NaN,NaN,NaN,1027.038485,256.018219,NaN,NaN
std,144.491687,NaN,NaN,NaN,574.943081,144.328485,NaN,NaN
min,1001.000000,NaN,NaN,NaN,52.680000,0.000000,NaN,NaN
25%,1123.500000,NaN,NaN,NaN,526.785000,128.750000,NaN,NaN
50%,1251.000000,NaN,NaN,NaN,1026.990000,258.000000,NaN,NaN
75%,1375.500000,NaN,NaN,NaN,1563.940000,379.750000,NaN,NaN
max,1500.000000,NaN,NaN,NaN,1994.630000,497.000000,NaN,NaN

In [17]:
df.columns

Index(['Product_ID', 'Product_Name', 'Brand', 'Category', 'Price',
       'Stock_Units', 'Country_Of_Origin', 'Launch_Date'],
      dtype='object')

In [19]:
df.duplicated().sum()

15

In [21]:
df.isnull().sum()

Product_ID            0
Product_Name          0
Brand                20
Category              0
Price                20
Stock_Units          21
Country_Of_Origin     0
Launch_Date           0
dtype: int64

In [23]:
df.nunique()

Product_ID           500
Product_Name          10
Brand                  8
Category               3
Price                480
Stock_Units          311
Country_Of_Origin      6
Launch_Date          440
dtype: int64

In [25]:
df['Product_Name'].value_counts()

Product_Name
Laptop        63
Smartphone    57
Mouse         56
Monitor       54
Keyboard      53
Printer       53
Webcam        51
Tablet        47
Headphones    45
Router        36
Name: count, dtype: int64

In [27]:
df['Brand'].value_counts()

Brand
Apple       67
Lenovo      66
Samsung     64
Dell        63
Asus        62
HP          58
Canon       58
Logitech    57
Name: count, dtype: int64

In [29]:
df['Category'].value_counts()

Category
Peripherals    182
Accessories    171
Electronics    162
Name: count, dtype: int64

In [31]:
df['Country_Of_Origin'].value_counts()

Country_Of_Origin
India      94
UK         92
Germany    89
USA        82
Japan      81
China      77
Name: count, dtype: int64

In [45]:
df.groupby('Country_Of_Origin')['Price'].sum().sort_values(ascending=False)

Country_Of_Origin
UK         102374.97
India       91193.18
Germany     84761.07
USA         80096.13
China       75282.48
Japan       74676.22
Name: Price, dtype: float64

In [47]:
df.groupby('Category')['Price'].sum().sort_values(ascending=False)

Category
Peripherals    185687.83
Electronics    162121.31
Accessories    160574.91
Name: Price, dtype: float64

In [49]:
df.groupby('Brand')['Price'].sum().sort_values(ascending=False)

Brand
Apple       70526.34
Dell        66662.99
HP          63614.36
Samsung     61550.90
Lenovo      58303.87
Asus        58017.87
Canon       57936.10
Logitech    53708.81
Name: Price, dtype: float64

In [51]:
df.groupby('Product_Name')['Price'].sum().sort_values(ascending=False)

Product_Name
Laptop        64457.11
Smartphone    56523.69
Mouse         55197.96
Printer       54484.43
Webcam        52580.87
Keyboard      52563.29
Tablet        49146.51
Monitor       44965.93
Headphones    44626.57
Router        33837.69
Name: Price, dtype: float64