**Q1. Describe how groupby().transform() differs from groupby().apply(). In what use case would transform() be preferred?**

**Q2. What is the difference between .loc[], .iloc[], and .at[]? Provide a situation where .at[] performs better.**

- .loc[]
  - this is used to access data label wise
  - it takes names of column/row or index value for accessing values
- .iloc[]
  - this is used to access data according to integer number positions
  - index starts from 0
- at[]
  - used to access single cell

- working of .at[]
  - it works faster than .iloc[] when we need to access or modify single shell

**Q3.Group by 'city' and return a DataFrame showing the average, max, and number of sales entries for each city.**

```
df = pd.DataFrame({
    'city': ['Pune', 'Mumbai', 'Delhi', 'Pune', 'Delhi', 'Pune'],
    'sales': [200, 150, 400, 100, 300,250],
    'month': ['Jan', 'Feb', 'Jan', 'Feb', 'Mar','Mar']
})

```

In [5]:
import pandas as pd

df = pd.DataFrame({
    'city': ['Pune', 'Mumbai', 'Delhi', 'Pune', 'Delhi', 'Pune'],
    'sales': [200, 150, 400, 100, 300,250],
    'month': ['Jan', 'Feb', 'Jan', 'Feb', 'Mar','Mar']
})

result=df.groupby('city')['sales'].agg(avg='mean',max='max',count='count')

print(result)

               avg  max  count
city
Delhi   350.000000  400      2
Mumbai  150.000000  150      1
Pune    183.333333  250      3

**Q4. Given,**

```
df = pd.DataFrame({
    'student': ['Arya', 'Arya', 'Aniket', 'Aniket'],
    'subject': ['Math', 'English', 'Math', 'English'],
    'score': [85, 90, 78, 88]
})

```

**Task A:**
**Pivot this table so that each row is a student and each column is a subject.**

**Task B:**
**Melt the pivoted table back to the original long format.**

**Q5.Given**

```
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit', 'Elderberry'],
    'price': [100, 150, 200, 250, 300],
    'stock': [0, 10, 5, 0, 20]
})

```
**Task:**
**Filter products where stock is greater than 0 and price is less than or equal to 200.**

In [9]:
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit', 'Elderberry'],
    'price': [100, 150, 200, 250, 300],
    'stock': [0, 10, 5, 0, 20]
})
new=df[(df['stock']>0) & (df['price']<=200)]
print(new)

  product  price  stock
1  Banana    150     10
2  Cherry    200      5

**Q6. Given:**
```
orders = pd.DataFrame({
    'order_id': [1, 2, 3],
    'customer_id': [100, 101, 102],
    'amount': [250, 450, 300]
})

customers = pd.DataFrame({
    'customer_id': [100, 101],
    'name': ['Alice', 'Bob']
})
```

**Task:**
**Merge the two DataFrames to include all orders, even if the customer data is missing. Replace missing names with "Unknown".**

In [15]:
orders = pd.DataFrame({
    'order_id': [1, 2, 3],
    'customer_id': [100, 101, 102],
    'amount': [250, 450, 300]
})

customers = pd.DataFrame({
    'customer_id': [100, 101],
    'name': ['Alice', 'Bob']
})

new_df=orders.merge(customers,on='customer_id',how='left')
new_df['name']=new_df['name'].fillna('unknown')
print(new_df)

   order_id  customer_id  amount     name
0         1          100     250    Alice
1         2          101     450      Bob
2         3          102     300  unknown

**Q7:Given**

```
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit'],
    'price': [100, 200, 150, 300],
    'discount': [10, 0, 15, 20]
})

```

**Create a new column 'final_price' that subtracts 'discount' from 'price' only if discount > 0, else keep the original price.**

In [ ]:
df = pd.DataFrame({
    'product': ['Apple', 'Banana', 'Cherry', 'Dragonfruit'],
    'price': [100, 200, 150, 300],
    'discount': [10, 0, 15, 20]
})

**Q8. Explain the differences between .map(), .apply(), and .applymap() in Pandas.
When would you use each? Give examples.**

- map()
  - map() function is used to apply a function to each of the element
  - it can be used on single dimention array like series
- apply()
  - apply() function is same like map()
  - it can be used on series as well as data frames
  - it takes axis as input to perform on data frames
- applymap()
  - applaymap() function only perform on dataframes
  - used to applay functions on eac element of a dataframe

**Q9.Given:**

```
df = pd.DataFrame({
    'A': ['dog', 'cat', 'dog'],
    'B': ['cat', 'cat', 'dog']
})
```

**Get the frequency count of each unique value across all columns.**

In [18]:
df = pd.DataFrame({
    'A': ['dog', 'cat', 'dog'],
    'B': ['cat', 'cat', 'dog']
})

count=df.stack().value_counts()         # note: stack is used to combine all elements in a series
print(count)

dog    3
cat    3
Name: count, dtype: int64

**Q10: What is the difference between pivot() and pivot_table()?
In what scenario will pivot() raise an error and how does pivot_table() handle it?**